*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('../img/background1.png');
	font-size: 18px;
	color: whitesmoke;
}

.logo{
	width: 100%;
	text-align: center;
	margin: 20px 0;
}
.logo h4{
	color: #66CCFF;
	font-family: 'Courier New', Courier, monospace;
	cursor: pointer;
	font-size: 50px;
	letter-spacing: 8px;
	margin: 10px 0 10px 0;
}
.logo h4:hover{
	color: cadetblue;
}
.logo p{
	color: ghostwhite;
	font-family: 'Courier New', Courier, monospace;
	cursor: pointer;
	font-size: 25px;
	letter-spacing: 2px;
	margin: 10px 0 10px 0;
}

.nav{
	width: 100%;
	border-top: 1.5px solid antiquewhite;
	border-bottom: 1.5px solid antiquewhite;
}
.nav ul{
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
.nav ul li{
	list-style: none;
	margin: 0 20px;
}
.nav ul li a{
	color: whitesmoke;
	font-size: 120%;
	letter-spacing: 5px;
	text-decoration: none;
}
.nav ul li a:hover{
	color: cadetblue;
}
.banner{
	width: 820px;
	margin: 20px auto;
}
.banner img{
	width: 100%;
}
.about{
	width: 820px;
	margin: auto;
	letter-spacing: 3px;
}
.about h3{
	display: flex;
	align-items: center;
	color: #CE8460;
	font-size: 24px;
}
.about h3::before{
	content: '';
	display: inline-block;
	width: 5px;
	height: 25px;
	margin-right: 10px;
	background:#CE8460 ;
}
.about p{
	line-height: 1.8;
	margin: 20px 0;
	text-indent: 2em;
}
.video{
	margin: 20px 0;
}
.footer{
	background: #658FAF;
	width: 100%;
	color: beige;
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
	padding: 10px 0;
	text-align: center;
}
.footer{
	line-height: 1.7;
}
.contxet{
	width: 820px;
	margin: auto;
	letter-spacing: 3px;
}
.contxet h3{
	display: flex;
	align-items: center;
	color: #CE8460;
	font-size: 24px;
}
.contxet h3::before{
	content: '';
	display: inline-block;
	width: 5px;
	height: 25px;
	margin-right: 10px;
	background:#CE8460 ;
}
.contxet h4{
	display: flex;
	align-items: center;
	color: #CE8460;
	font-size: 30px;
}
.contxet p{
	line-height: 1.8;
	margin: 20px 0;
	text-indent: 2em;
}
.contxet h4::before{
	content: '';
	display: inline-block;
	width: 5px;
	height: 30px;
	margin-right: 10px;
	background:#CE8460 ;
}
.pic{
	text-align: center;
}